In [4]:
import requests
url = 'https://tcgbusfs.blob.core.windows.net/dotapp/youbike/v2/youbike_immediate.json'
response = requests.request('GET',url)
if response.status_code == 200:
    print("連線成功")
    all_data = response.json()
    print(type(all_data))
else:
    print(f"連線失敗:{response.status_code}")

連線成功
<class 'list'>

In [7]:
import pandas as pd

dataFrame = pd.DataFrame(data=all_data,columns=['sna','tot','sbi','sarea','mday','ar','bemp','act'])
dataFrame.head()

,sna,tot,sbi,sarea,mday,ar,bemp,act
0,YouBike2.0_捷運科技大樓站,28,2,大安區,2023-05-27 11:16:17,復興南路二段235號前,23,1
1,YouBike2.0_復興南路二段273號前,21,8,大安區,2023-05-27 11:16:17,復興南路二段273號西側,13,1
2,YouBike2.0_國北教大實小東側門,16,2,大安區,2023-05-27 11:09:04,和平東路二段96巷7號,13,1
3,YouBike2.0_和平公園東側,11,2,大安區,2023-05-27 11:01:16,和平東路二段118巷33號,9,1
4,YouBike2.0_辛亥復興路口西北側,16,12,大安區,2023-05-27 11:14:14,復興南路二段368號,4,1

In [8]:
#選取欄位
dataFrame[['sna', 'tot', 'sbi']]

                           sna  tot  sbi
0           YouBike2.0_捷運科技大樓站   28    2
1       YouBike2.0_復興南路二段273號前   21    8
2         YouBike2.0_國北教大實小東側門   16    2
3            YouBike2.0_和平公園東側   11    2
4         YouBike2.0_辛亥復興路口西北側   16   12
...                        ...  ...  ...
1275      YouBike2.0_臺大總圖書館西南側   30   20
1276        YouBike2.0_臺大黑森林西側   20    0
1277        YouBike2.0_臺大獸醫館南側   24    0
1278      YouBike2.0_臺大新體育館東南側   40   27
1279  YouBike2.0_臺大明達館北側(員工宿舍)   18    2

[1280 rows x 3 columns]

In [9]:
#選取列(slice)
dataFrame[67:72]

,sna,tot,sbi,sarea,mday,ar,bemp,act
67,YouBike2.0_敦化南路二段293巷口南側,14,1,大安區,2023-05-27 11:01:16,敦化南路二段293巷口南側,13,1
68,YouBike2.0_敦化基隆路口,29,1,大安區,2023-05-27 11:16:04,敦化南路二段218號,26,1
69,YouBike2.0_安和路二段181巷口,17,0,大安區,2023-05-27 11:01:04,安和路二段185號,17,1
70,YouBike2.0_臨江街夜市(通化街101巷口),30,3,大安區,2023-05-27 11:15:15,通化街111號,25,1
71,YouBike2.0_臨江街夜市(基隆路),17,0,大安區,2023-05-27 11:11:04,基隆路二段108號,14,1